<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-muted">&copy; YelpCamp 2023</span>
  </div>
</footer>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat voluptatibus,
deserunt, cum ut quos nam reprehenderit facilis soluta tenetur explicabo dicta
beatae dolore eligendi? Vitae incidunt possimus labore odit recusandae?
